bot:
  uin: # qq机器人的qq号，或者 `disabled` 可以禁用机器人组件。禁用的话，二维码签到也没有入口了
  qrlogin: true # 使用二维码登录
  platform: 5 # Android = 1, aPad = 2, Watch = 3, iMac = 4, iPad = 5,
  password: # 机器人qq密码
  notifyGroups:
    - # 签到时通知的群组
  qrcodeGroups:
    - # 接收二维码的群组，有些群组不希望用来接收二维码
  ignore:
    - # 忽略接收二维码群组内某个群成员发送的消息，一般指定同一群的其他机器人
  data_dir: ./data # qq 机器人数据存放文件夹
ocr:
  secretId: # 腾讯云 ocr 识别二维码的密钥 ID
  secretKey: # 腾讯云 ocr 识别二维码的密钥
ignoreCourses:
  - # 屏蔽的课程 ID，这些课程的签到和其他活动信息将被忽略
geoLocations:
  - courseId: # 这门课程的 ID，可以在电脑上打开课程页面，地址栏中将会显示课程 ID, 设置为 * 的项将作为找不到位置信息的课程的默认值
    lat: # 经度
    lon: # 纬度，请务必用 Readme 中的百度地图工具查询
    address: # 地图显示的地址，建议去实地发个签到查看学习通上显示的地址
  - courseId: # 另一门课的 ID，假装这门课不同天在不同的地方上课
    lon: # 经度
    lat: # 纬度，请务必用 Readme 中的百度地图工具查询
    address: # 地图显示的地址，建议去实地发个签到查看学习通上显示的地址
    onlyOnWeekdays:
      # 数字表示的星期，0：周日，1：周一...
      - 1
  - courseId: # 还是刚刚那一门课的 ID，这里写的是不在上一条那些天里面的地理位置
    lon: # 另外的经度
    lat: # 另外的纬度
    address: # 更上面的更优先，同一门课程请把没有 onlyOnWeekdays 的写在最下面
# 可以配置多个账号，将使用第一个账号获取签到信息，所以第一个账号的课需要是全的
accounts:
  - username: # 学习通登录名
    password: # 学习通密码
  - username: # 学习通登录名（多个帐号）
    password: # 学习通密码
